@{
    ViewBag.Title = Reporting.Resources.Tableros.lblNoPoseeObjetosTitulo;
}

<div class="sintableros">
    <a href='#'>
        <p>@Reporting.Resources.Tableros.noTieneObjetos</p>
        <h4>@Reporting.Resources.Tableros.noTieneObjetosSubTitulo</h4>
    </a>
</div>
