@using Reporting.ViewModels
@model TableroViewModel

@{
    ViewBag.Title = Reporting.Resources.Tableros.titulo;
}

@section styles{
    <style>
    html, body, .wrapper {
        height: 100%;
    }

    .top, .bottom {
        height: 10%;
        background: green;
    }

    .center {
        overflow: scroll;
        height: 80%;
    }
</style>
    }

    <div class="wrapper">
        <div class="top">
            Top div
        </div>
        <div class="center">
            Middle div Middle div Middle div Middle div Middle div Middle div Middle div Middle div Middle div Middle div Middle div Middle div Middle div Middle div Middle div Middle div Middle div Middle div Middle div Middle div Middle div Middle div Middle div Middle div Middle div Middle div Middle div Middle div
            MiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddledivMiddlediv
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>

            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>
            Middlediv<BR>

        </div>
        <div class="bottom">
            Bottom div
        </div>
    </div>





