@{
    ViewBag.Title = Reporting.Resources.Tableros.lblTituloNoTienePermisosTableros;
}

<div class="sintableros">
    <a href='@Url.Action("Index", "Tableros")'>
        <p>@Reporting.Resources.Tableros.notienePermisostablerosTitulo</p>
        <h4>@Reporting.Resources.Tableros.notienePermisostablerosSubTitulo</h4>
    </a>
</div>
