@{
    ViewBag.Title = Reporting.Resources.Tableros.lblTituloNoTieneTableros;
}

<div class="sintableros">
    <a href='@Url.Action("Crear", "Tableros")'>
        <p>@Reporting.Resources.Tableros.notienetablerosTitulo</p>
        <h4>@Reporting.Resources.Tableros.notienetablerosSubTitulo</h4>
    </a>
</div>