@model Reporting.ViewModels.SalesInOutViewModel

@{
    ViewBag.Title = Reporting.Resources.Forecasting.titulo;
}

<div id="optionsmenu" class="row">
    <div class="col-sm-6 col-sm-offset-3">
            <div class="container-fluid panel panel-default crear-tablero center-block">
                <h1>@Reporting.Resources.Forecasting.no_tiene_canales_asignados</h1>
                <p>@Reporting.Resources.Forecasting.no_se_encontro_ningun_canal_asociado</p>
            </div>
    </div>
</div>