
@{
    ViewBag.Title = Reporting.Resources.Datos.lblTablaInexistenteTitulo;
}

<div class="sintableros">
    <a href='#'>
        <p>@Reporting.Resources.Datos.noHayTablaAsignadaTitulo</p>
        <h4>@Reporting.Resources.Datos.noHayTablaAsignadaSubTitulo</h4>
    </a>
</div>