@{
    ViewBag.Title = "TableroInexistente";
}

<div class="sintableros">
    <a href='@Url.Action("CrearTablero", "Dashboard")'>
        <p>Aún no has creado ningún tablero.</p>
        <h4>¡Crea uno ahora!</h4>
    </a>
</div>