
@{
    ViewBag.Title = "TableroInexistente";
}

<div style="margin:30px;">
    <strong>Usted no tiene ningún tablero.</strong>
    <p>Puede generar uno <a href="~/Tableros/CrearTablero">Aquí</a></p>
</div>