@using Reporting.ViewModels
@model ViewModelPasswordUser

@using (Html.BeginForm("RegenerarUsuario", "Configuracion", FormMethod.Post))
{
    @Html.HiddenFor(m => m.UserId)
    <table>
        <tr>
            <td>Nueva Contraseña</td>
            <td>@Html.PasswordFor(m => m.Password)</td>
        </tr>
        <tr>
            <td>Confirme contraseña</td>
            <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
            <td></td>
        </tr>
    </table>
}
