body {
    padding-top: 60px;
    padding-bottom: 0;
    overflow-x:hidden;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-top{
    padding-left:20px;
    padding-right:40px;
    z-index:3000;
}


