@{
    ViewBag.Title = Reporting.Resources.Account.lblTituloConfirmacionOlvidarClave;
}

@Styles.Render("~/Content/css")

<div id="wrapper" style="text-align: center">
    <div class="container ingreso" style="display: inline-block;">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
            <div class="logo">
                <a href="#">@Reporting.Resources.Account.lblLogoLabelCheckposPerformance</a>
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="recuperarTitle">@ViewBag.Title.</h4>
                    <div>
                        <p>
                            @Reporting.Resources.Account.lblCompruebeCorreoOlvidarClave
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
