@{
    ViewBag.Title = "Confirmación de contraseña olvidada";
}

<div id="wrapper" style="text-align: center">
    <div class="container ingreso" style="display: inline-block;">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
            <div class="logo">
                <a href="#">Checkpos Performance</a>
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="recuperarTitle">@ViewBag.Title.</h4>
                    <div>
                        <p>
                            Compruebe el correo electrónico para restablecer la contraseña.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>