@{
    ViewBag.Title = Reporting.Resources.Shared.lblError501Titulo;
}

<div class="sintableros">
    <a href='#'>
        <p>@Reporting.Resources.Tableros.notienepermisos</p>
        <h4>@Reporting.Resources.Tableros.notienepermisossubtitulo</h4>
    </a>
</div>
