@{
    ViewBag.Title = Reporting.Resources.Shared.lblNoTieneFiltrosTitulo;
}

<div class="sintableros">
    <a href='#'>
        <p>@Reporting.Resources.Tableros.noTieneFiltros</p>
        <h4>@Reporting.Resources.Tableros.noTieneFiltrosSubTitulo</h4>
    </a>
</div>

