@{
    ViewBag.Title = Reporting.Resources.Shared.lblNoTieneCliente;
}

<div class="sintableros">
    <a href='#'>
        <p>@Reporting.Resources.Tableros.notienecliente</p>
        <h4>@Reporting.Resources.Tableros.notieneclientesubtitulo</h4>
    </a>
</div>