@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Reporting.Resources.Shared.lblError404Titulo;
}

<div class="error-generico">
    <h1>@Reporting.Resources.Shared.lblError404Titulo2</h1>
</div>