@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Reporting.Resources.Shared.lblLockoutTitulo;
}

<hgroup>
    <h1 class="text-danger">@Reporting.Resources.Shared.lblLockoutTitulo2</h1>
    <h2 class="text-danger">@Reporting.Resources.Shared.lblLockoutMensaje</h2>
</hgroup>
