@{
    ViewBag.Title = Reporting.Resources.Shared.lblNoDataFoundTitulo;
}

<div class="sintableros">
    <a href="@Url.Action(ViewBag.Action,ViewBag.Controller)">
        <p>@ViewBag.Title</p>
        <h4>@ViewBag.SubTitle</h4>
    </a>
</div>