
@{
    ViewBag.Title = Reporting.Resources.Shared.lblUsuarioSinClienteSeleccionadoTitulo;
}

<div style="margin:30px;">
    <strong>@Reporting.Resources.Shared.lblUsuarioSinClienteMensaje1</strong>
    <p>@Reporting.Resources.Shared.lblUsuarioSinClienteMensaje2</p>
</div>