SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Chart_PDV_Visitados]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Chart_PDV_Visitados] AS' 
END
GO
ALTER PROCEDURE [dbo].[Chart_PDV_Visitados]
AS
BEGIN

/* PDV con Reportes */
SELECT
'VISITADOS' AS NOMBRE,COUNT(*) as TOTAL
FROM PUNTODEVENTA P 
WHERE EXISTS
(
SELECT IDREPORTE FROM REPORTE R
WHERE R.IDPUNTODEVENTA = P.IDPUNTODEVENTA
)
UNION
/* PDV sin Reportes */
SELECT
'NO VISITADOS', COUNT(*) as TOTAL
FROM PUNTODEVENTA P 
WHERE NOT EXISTS
(
SELECT IDREPORTE FROM REPORTE R
WHERE R.IDPUNTODEVENTA = P.IDPUNTODEVENTA
)


END
GO
