SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cobertura_PDV_Activos]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Cobertura_PDV_Activos] AS' 
END
GO
ALTER PROCEDURE [dbo].[Cobertura_PDV_Activos]
AS
BEGIN
  SELECT
ISNULL(SUM(CASE WHEN T.NOMBRE='Moderna'
           THEN 1 END),0) AS MODERNA,
ISNULL(SUM(CASE WHEN T.NOMBRE='Tradicional'
           THEN 1 END),0) AS TRADICIONAL, 
ISNULL(SUM(CASE WHEN T.NOMBRE='Perfumeria'
           THEN 1 END),0) AS PERFUMERIA
FROM PUNTODEVENTA P INNER JOIN TIPO T
ON P.IDTIPO = T.IDTIPO; 
END
GO
