SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DermoReporte_Delete]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DermoReporte_Delete] AS' 
END
GO
-- =============================================
-- Author:		 Author,,Name>
-- Create date:  Create Date,,>
-- Description:	 Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[DermoReporte_Delete]
	-- Add the parameters for the stored procedure here
    @IdDermoReporte int 
    
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM [dbo].[DermoReporte]
	WHERE @IdDermoReporte = [IdDermoReporte]
	
	
END
GO
