SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Exhibicion_Linea]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Exhibicion_Linea] AS' 
END
GO
ALTER PROCEDURE [dbo].[Exhibicion_Linea]
@IDMARCA INT=NULL,
@IDUSUARIO INT=NULL,
@FECHADESDE DATETIME=NULL,
@FECHAHASTA DATETIME=NULL
AS
BEGIN

IF @FECHADESDE IS NULL SET @FECHADESDE = GETDATE()-365
IF @FECHAHASTA IS NULL SET @FECHAHASTA = GETDATE()+1

SELECT
ISNULL(SUM(CASE WHEN T.NOMBRE='Moderna'
           THEN 1 END),0) AS MODERNA,
ISNULL(SUM(CASE WHEN T.NOMBRE='Tradicional'
           THEN 1 END),0) AS TRADICIONAL,
ISNULL(SUM(CASE WHEN T.NOMBRE='Perfumeria'
           THEN 1 END),0) AS PERFUMERIA 
FROM PUNTODEVENTA P INNER JOIN TIPO T 
ON P.IDTIPO = T.IDTIPO 
INNER JOIN REPORTE R
ON P.IDPUNTODEVENTA = R.IDPUNTODEVENTA
WHERE 
EXISTS
(
SELECT * FROM REPORTEEXHIBICION EX
WHERE R.IDREPORTE = EX.IDREPORTE
AND EX.IDMARCA=@IDMARCA
)
AND R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA
AND R.IDUSUARIO=@IDUSUARIO

END
GO
