SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MarcaPropiedad_GetAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[MarcaPropiedad_GetAll] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[MarcaPropiedad_GetAll]
	-- Add the parameters for the stored procedure here
	@IdMarca int
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [IdMarcaPropiedad]
      ,[IdMarca]
      ,[Nombre]
      ,[Descripcion]
      ,[Opcional]
      ,[NoExhibe]
      ,[NoAutorizada]
      ,[NoTrabaja]
	FROM [dbo].[MarcaPropiedad]
	WHERE [IdMarca] = @IdMarca
	ORDER BY [Nombre]
	 
END
GO
