SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MarketShare_Update]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[MarketShare_Update] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[MarketShare_Update]
	-- Add the parameters for the stored procedure here
        @Nombre varchar(50)
       ,@Nivel int
       ,@IdMarketSharePadre int
       ,@Activo bit
       ,@IdMarketShare int 
       
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


   UPDATE .[dbo].[MarketShare]
   SET [Nombre] = @Nombre
      ,[Nivel] = @Nivel
      ,[IdMarketSharePadre] = @IdMarketSharePadre
      ,[Activo] = @Activo
   WHERE @IdMarketShare = [IdMarketShare]
 
	
END
GO
