SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ReporteVidriera_Add]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ReporteVidriera_Add] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[ReporteVidriera_Add]
	-- Add the parameters for the stored procedure here
    @IdReporte int
   ,@IdMarca int
   ,@Armada bit
   ,@NecesitaMantenimiento bit
   ,@IdCampania int = NULL
   
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[ReporteVidriera]
           ([IdReporte]
           ,[IdMarca]
           ,[Armada]
           ,[NecesitaMantenimiento]
           ,[IdCampania])
     VALUES
           (@IdReporte
           ,@IdMarca
           ,@Armada
           ,@NecesitaMantenimiento
           ,@IdCampania)

END
GO
