SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Reporte_Exhibicion_Tipos]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Reporte_Exhibicion_Tipos] AS' 
END
GO
ALTER PROCEDURE [dbo].[Reporte_Exhibicion_Tipos]
@IDTIPO INT=NULL,
@IDMARCA INT=NULL,
@IDMARCACOMPETENCIA INT=NULL,
@IDPRODUCTO INT=NULL,
@IDPRODUCTOCOMPETENCIA INT=NULL,
@IDMARCAPROPIEDAD INT=NULL,
@PROPIEDADPDV INT=NULL,
@IDEXHIBIDOR INT=NULL,
@STOCK INT=NULL,
@IDPOP INT=NULL,
@IDCADENA INT=NULL,
@IDUSUARIO INT=NULL,
@FECHADESDE DATETIME=NULL,
@FECHAHASTA DATETIME=NULL,
@IDVENDEDOR INT=NULL
AS
BEGIN
SET NOCOUNT ON;

IF @FECHADESDE IS NULL SET @FECHADESDE = GETDATE()-365
IF @FECHAHASTA IS NULL SET @FECHAHASTA = GETDATE()+1


SELECT
ISNULL(UPPER(T.NOMBRE),'SIN ASIGNAR') NOMBRE,
COUNT(*) TOTAL
FROM PUNTODEVENTA P LEFT JOIN TIPO T 
ON P.IDTIPO = T.IDTIPO 
WHERE 
/* Filtro Tipos */
(ISNULL(@IDTIPO,P.IDTIPO)=P.IDTIPO OR P.IDTIPO IS NULL)
/* Filtro Cadenas */
AND (P.IDCADENA = ISNULL(@IDCADENA,P.IDCADENA) OR P.IDCADENA IS NULL)
/* Filtro Fechas */
AND
EXISTS  
(SELECT IDREPORTE FROM REPORTE R WHERE R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA AND R.IDPUNTODEVENTA=P.IDPUNTODEVENTA) 
/* Filtro Usuarios */
AND
EXISTS  
(SELECT IDREPORTE FROM REPORTE R WHERE R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA AND R.IDPUNTODEVENTA=P.IDPUNTODEVENTA
AND R.IDUSUARIO = ISNULL(@IDUSUARIO,R.IDUSUARIO)) 
/* Filtro POPs */
AND
(@IDPOP IS NULL OR
EXISTS  
(SELECT R.IDREPORTE FROM REPORTE R, REPORTEPOP RP 
WHERE R.IDREPORTE = RP.IDREPORTE AND 
R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA AND 
R.IDPUNTODEVENTA=P.IDPUNTODEVENTA
AND  RP.IDPOP=ISNULL(@IDPOP,RP.IDPOP)))
/* Filtro Marcas */
AND
(@IDMARCA IS NULL OR
EXISTS  
(SELECT R.IDREPORTE FROM REPORTE R, REPORTEPRODUCTO RP, PRODUCTO PRO, MARCA M
WHERE R.IDREPORTE = RP.IDREPORTE AND 
RP.IDPRODUCTO=PRO.IDPRODUCTO AND
PRO.IDMARCA = M.IDMARCA AND 
R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA AND 
R.IDPUNTODEVENTA=P.IDPUNTODEVENTA
AND  M.IDMARCA=ISNULL(@IDMARCA,M.IDMARCA)))
/* Filtro Productos */
AND
(@IDPRODUCTO IS NULL OR 
EXISTS  
(SELECT R.IDREPORTE FROM REPORTE R, REPORTEPRODUCTO RP
WHERE R.IDREPORTE = RP.IDREPORTE AND 
R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA AND 
R.IDPUNTODEVENTA=P.IDPUNTODEVENTA
AND  RP.IDPRODUCTO=ISNULL(@IDPRODUCTO,RP.IDPRODUCTO)))
/* Filtro Marcas Competencia */
AND
(@IDMARCACOMPETENCIA IS NULL OR 
EXISTS  
(SELECT R.IDREPORTE FROM REPORTE R, REPORTEPRODUCTOCOMPETENCIA RP, PRODUCTO PRO, MARCA M
WHERE R.IDREPORTE = RP.IDREPORTE AND 
RP.IDPRODUCTO=PRO.IDPRODUCTO AND
PRO.IDMARCA = M.IDMARCA AND 
R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA AND 
R.IDPUNTODEVENTA=P.IDPUNTODEVENTA
AND  M.IDMARCA=ISNULL(@IDMARCACOMPETENCIA,M.IDMARCA)))
/* Filtro Productos Competencia*/
AND
(@IDPRODUCTOCOMPETENCIA IS NULL OR 
EXISTS  
(SELECT R.IDREPORTE FROM REPORTE R, REPORTEPRODUCTOCOMPETENCIA RP
WHERE R.IDREPORTE = RP.IDREPORTE AND 
R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA AND 
R.IDPUNTODEVENTA=P.IDPUNTODEVENTA
AND  RP.IDPRODUCTO=ISNULL(@IDPRODUCTOCOMPETENCIA,RP.IDPRODUCTO)))
/* Filtro Exhibiciones */
AND
(@IDEXHIBIDOR IS NULL OR 
EXISTS  
(SELECT R.IDREPORTE FROM REPORTE R, REPORTEEXHIBICION RE 
WHERE R.IDREPORTE = RE.IDREPORTE AND 
R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA AND 
R.IDPUNTODEVENTA=P.IDPUNTODEVENTA
AND  RE.IDEXHIBIDOR=ISNULL(@IDEXHIBIDOR,RE.IDEXHIBIDOR)))
/* Filtro Stock */
AND
(@STOCK IS NULL OR 
EXISTS  
(SELECT R.IDREPORTE FROM REPORTE R, REPORTEPRODUCTO RP
WHERE R.IDREPORTE = RP.IDREPORTE AND 
R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA AND 
R.IDPUNTODEVENTA=P.IDPUNTODEVENTA
AND  RP.STOCK=ISNULL(@STOCK,RP.STOCK)))
/* Filtro Propiedades de Reporte */
AND
(@IDMARCAPROPIEDAD IS NULL OR 
EXISTS  
(SELECT R.IDREPORTE FROM REPORTE R, REPORTEMARCAPROPIEDAD RM 
WHERE R.IDREPORTE = RM.IDREPORTE AND 
R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA AND 
R.IDPUNTODEVENTA=P.IDPUNTODEVENTA
AND  RM.IDMARCAPROPIEDAD=ISNULL(@IDMARCAPROPIEDAD,RM.IDMARCAPROPIEDAD)))
/* Filtro Propiedades Punto de Venta */
AND
(@PROPIEDADPDV IS NULL OR 
EXISTS  
(SELECT * FROM PROPIEDAD_PUNTODEVENTA PROP
WHERE PROP.IDPUNTODEVENTA=P.IDPUNTODEVENTA
AND PROP.IDPROPIEDAD=ISNULL(@PROPIEDADPDV,PROP.IDPROPIEDAD)))
/* Filtro Vendedor */
AND
(@IDVENDEDOR IS NULL OR EXISTS
(SELECT PDVV.IDVENDEDOR FROM PUNTODEVENTA_VENDEDOR PDVV 
WHERE PDVV.IDPUNTODEVENTA = P.IDPUNTODEVENTA
AND PDVV.IDVENDEDOR=@IDVENDEDOR))
GROUP BY T.NOMBRE
ORDER BY COUNT(*) DESC
END
GO
