SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Reporte_Exhibicion_Localizacion]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Reporte_Exhibicion_Localizacion] AS' 
END
GO
ALTER PROCEDURE [dbo].[Reporte_Exhibicion_Localizacion]
@CODIGO VARCHAR(100)=NULL,
@IDTIPO INT=NULL,
@IDMARCA INT=NULL,
@IDMARCACOMPETENCIA INT=NULL,
@IDPRODUCTO INT=NULL,
@IDPRODUCTOCOMPETENCIA INT=NULL,
@IDMARCAPROPIEDAD INT=NULL,
@PROPIEDADPDV INT=NULL,
@IDEXHIBIDOR INT=NULL,
@STOCK INT=NULL,
@IDPOP INT=NULL,
@IDCADENA INT=NULL,
@IDUSUARIO INT=NULL,
@FECHADESDE DATETIME=NULL,
@FECHAHASTA DATETIME=NULL,
@IDVENDEDOR INT=NULL
AS
BEGIN
SET NOCOUNT ON;
IF @FECHADESDE IS NULL SET @FECHADESDE = GETDATE()-365
IF @FECHAHASTA IS NULL SET @FECHAHASTA = GETDATE()+1
SELECT
ISNULL(UPPER(E.NOMBRE),'SIN ASIGNAR') NOMBRE,
COUNT(*) TOTAL
FROM REPORTE R INNER JOIN REPORTEEXHIBICION RE 
ON R.IDREPORTE = RE.IDREPORTE INNER JOIN EXHIBIDOR E 
ON RE.IDEXHIBIDOR=E.IDEXHIBIDOR INNER JOIN VISTA_ULTIMO_REPORTE UR ON
R.IDPUNTODEVENTA = UR.IDPUNTODEVENTA AND R.FECHACREACION = UR.FECHACREACION
WHERE
/* Filtro Fechas */
R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA
/* Filtro Usuarios */
AND
(@IDUSUARIO IS NULL OR R.IDUSUARIO = @IDUSUARIO)
/* Filtro POPs */
AND
(@IDPOP IS NULL OR EXISTS  
(SELECT IDREPORTE FROM REPORTEPOP RP 
WHERE R.IDREPORTE = RP.IDREPORTE AND RP.IDPOP=@IDPOP))
/* Filtro Marcas */
AND
(@IDMARCA IS NULL OR EXISTS  
(SELECT RP.IDREPORTE FROM REPORTEPRODUCTO RP, PRODUCTO PRO, MARCA M
WHERE R.IDREPORTE = RP.IDREPORTE AND RP.IDPRODUCTO=PRO.IDPRODUCTO AND
PRO.IDMARCA = M.IDMARCA AND M.IDMARCA=@IDMARCA))
/* Filtro Productos */
AND
(@IDPRODUCTO IS NULL OR EXISTS  
(SELECT RP.IDREPORTE FROM REPORTEPRODUCTO RP
WHERE R.IDREPORTE = RP.IDREPORTE AND  RP.IDPRODUCTO=@IDPRODUCTO))
/* Filtro Marcas Competencia */
AND
(@IDMARCACOMPETENCIA IS NULL OR EXISTS  
(SELECT RP.IDREPORTE FROM REPORTEPRODUCTOCOMPETENCIA RP, PRODUCTO PRO, MARCA M
WHERE R.IDREPORTE = RP.IDREPORTE AND 
RP.IDPRODUCTO=PRO.IDPRODUCTO AND
PRO.IDMARCA = M.IDMARCA AND  M.IDMARCA=@IDMARCACOMPETENCIA))
/* Filtro Productos Competencia*/
AND
(@IDPRODUCTOCOMPETENCIA IS NULL OR EXISTS  
(SELECT RP.IDREPORTE FROM REPORTEPRODUCTOCOMPETENCIA RP
WHERE R.IDREPORTE = RP.IDREPORTE AND RP.IDPRODUCTO=@IDPRODUCTOCOMPETENCIA))
/* Filtro Exhibiciones */
AND
(@IDEXHIBIDOR IS NULL OR EXISTS  
(SELECT REX.IDREPORTE FROM REPORTEEXHIBICION REX 
WHERE R.IDREPORTE = REX.IDREPORTE AND  REX.IDEXHIBIDOR=@IDEXHIBIDOR))
/* Filtro Stock */
AND
(@STOCK IS NULL OR EXISTS  
(SELECT RP.IDREPORTE FROM REPORTEPRODUCTO RP
WHERE R.IDREPORTE = RP.IDREPORTE AND  RP.STOCK=@STOCK))
/* Filtro Propiedades de Reporte */
AND
(@IDMARCAPROPIEDAD IS NULL OR EXISTS  
(SELECT RM.IDREPORTE FROM REPORTEMARCAPROPIEDAD RM 
WHERE R.IDREPORTE = RM.IDREPORTE AND  RM.IDMARCAPROPIEDAD=@IDMARCAPROPIEDAD))
/* Filtro Propiedades Punto de Venta */
AND
(@PROPIEDADPDV IS NULL OR EXISTS  
(SELECT PDV.IDPUNTODEVENTA FROM PUNTODEVENTA PDV, PROPIEDAD_PUNTODEVENTA PROP
WHERE PDV.IDPUNTODEVENTA = PROP.IDPUNTODEVENTA
AND R.IDPUNTODEVENTA = PDV.IDPUNTODEVENTA
AND PROP.IDPROPIEDAD=@PROPIEDADPDV))
/* Filtro Codigos*/
AND 
(@CODIGO IS NULL OR EXISTS
(SELECT P.IDPUNTODEVENTA FROM PUNTODEVENTA P WHERE R.IDPUNTODEVENTA = P.IDPUNTODEVENTA
AND P.CODIGO LIKE @CODIGO))
/* Filtro Tipos */
AND
(@IDTIPO IS NULL OR EXISTS
(SELECT P.IDPUNTODEVENTA FROM PUNTODEVENTA P  WHERE R.IDPUNTODEVENTA = P.IDPUNTODEVENTA
AND P.IDTIPO=@IDTIPO))
/* Filtro Cadenas */
AND 
(@IDCADENA IS NULL OR EXISTS
(SELECT P.IDPUNTODEVENTA FROM PUNTODEVENTA P  WHERE R.IDPUNTODEVENTA = P.IDPUNTODEVENTA
AND P.IDCADENA = @IDCADENA))
/* Filtro Vendedor */
AND
(@IDVENDEDOR IS NULL OR EXISTS
(SELECT P.IDPUNTODEVENTA FROM PUNTODEVENTA P INNER JOIN PUNTODEVENTA_VENDEDOR PDVV 
ON P.IDPUNTODEVENTA = PDVV.IDPUNTODEVENTA WHERE R.IDPUNTODEVENTA = P.IDPUNTODEVENTA
AND PDVV.IDVENDEDOR=@IDVENDEDOR))
GROUP BY ISNULL(UPPER(E.NOMBRE),'SIN ASIGNAR')
ORDER BY COUNT(*) DESC
END
GO
