SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Reporte_Exhibicion_Listado]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Reporte_Exhibicion_Listado] AS' 
END
GO
ALTER PROCEDURE [dbo].[Reporte_Exhibicion_Listado]
@CODIGO VARCHAR(100)=NULL,
@IDTIPO INT=NULL,
@IDMARCA INT=NULL,
@IDMARCACOMPETENCIA INT=NULL,
@IDPRODUCTO INT=NULL,
@IDPRODUCTOCOMPETENCIA INT=NULL,
@IDMARCAPROPIEDAD INT=NULL,
@PROPIEDADPDV INT=NULL,
@IDEXHIBIDOR INT=NULL,
@STOCK INT=NULL,
@IDPOP INT=NULL,
@IDCADENA INT=NULL,
@IDUSUARIO INT=NULL,
@FECHADESDE DATETIME=NULL,
@FECHAHASTA DATETIME=NULL,
@IDVENDEDOR INT=NULL
AS
BEGIN
SET NOCOUNT ON;

IF @FECHADESDE IS NULL SET @FECHADESDE = GETDATE()-365
IF @FECHAHASTA IS NULL SET @FECHAHASTA = GETDATE()+1

SELECT
REPORTE.IDREPORTE, P.CODIGO, P.NOMBRE, L.NOMBRE AS LOCALIDAD, Z.NOMBRE AS ZONA, 
(
SELECT SUM(CANTIDAD) FROM REPORTEPRODUCTO
WHERE REPORTEPRODUCTO.IDREPORTE = REPORTE.IDREPORTE 
GROUP BY REPORTEPRODUCTO.IDREPORTE

) AS FRENTES,
(
SELECT SUM(CANTIDAD) FROM REPORTEPRODUCTOCOMPETENCIA
WHERE REPORTEPRODUCTOCOMPETENCIA.IDREPORTE = REPORTE.IDREPORTE
GROUP BY REPORTEPRODUCTOCOMPETENCIA.IDREPORTE
) AS COMPETENCIA
FROM PUNTODEVENTA P LEFT JOIN TIPO T 
ON P.IDTIPO = T.IDTIPO LEFT JOIN LOCALIDAD L
ON L.IDLOCALIDAD=P.IDLOCALIDAD LEFT JOIN ZONA Z
ON P.IDZONA = Z.IDZONA LEFT JOIN 
(
SELECT IDPUNTODEVENTA, MAX(FECHACREACION) AS MAXFECHA
FROM REPORTE 
GROUP BY IDPUNTODEVENTA
) AS ULTIMOREPORTE 
ON P.IDPUNTODEVENTA = ULTIMOREPORTE.IDPUNTODEVENTA
LEFT JOIN REPORTE ON REPORTE.IDPUNTODEVENTA = ULTIMOREPORTE.IDPUNTODEVENTA
AND REPORTE.FECHACREACION = ULTIMOREPORTE.MAXFECHA
WHERE
/* Filtro Codigos*/
(@CODIGO IS NULL OR P.CODIGO LIKE @CODIGO)
/* Filtro Tipos */
AND (ISNULL(@IDTIPO,P.IDTIPO)=P.IDTIPO OR P.IDTIPO IS NULL)
/* Filtro Cadenas */
AND (P.IDCADENA = ISNULL(@IDCADENA,P.IDCADENA) OR P.IDCADENA IS NULL)
/* Filtro Fechas */
AND
EXISTS  
(SELECT IDREPORTE FROM REPORTE R WHERE R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA AND R.IDPUNTODEVENTA=P.IDPUNTODEVENTA) 
/* Filtro Usuarios */
AND
(@IDUSUARIO IS NULL OR EXISTS  
(SELECT IDREPORTE FROM REPORTE R WHERE R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA AND R.IDPUNTODEVENTA=P.IDPUNTODEVENTA
AND R.IDUSUARIO = @IDUSUARIO))
/* Filtro POPs */
AND
(@IDPOP IS NULL OR EXISTS  
(SELECT R.IDREPORTE FROM REPORTE R, REPORTEPOP RP 
WHERE R.IDREPORTE = RP.IDREPORTE AND 
R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA AND 
R.IDPUNTODEVENTA=P.IDPUNTODEVENTA AND  RP.IDPOP=@IDPOP))
/* Filtro Marcas */
AND
(@IDMARCA IS NULL OR EXISTS  
(SELECT R.IDREPORTE FROM REPORTE R, REPORTEPRODUCTO RP, PRODUCTO PRO, MARCA M
WHERE R.IDREPORTE = RP.IDREPORTE AND 
RP.IDPRODUCTO=PRO.IDPRODUCTO AND
PRO.IDMARCA = M.IDMARCA AND 
R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA AND 
R.IDPUNTODEVENTA=P.IDPUNTODEVENTA
AND  M.IDMARCA=@IDMARCA))
/* Filtro Productos */
AND
(@IDPRODUCTO IS NULL OR EXISTS  
(SELECT R.IDREPORTE FROM REPORTE R, REPORTEPRODUCTO RP
WHERE R.IDREPORTE = RP.IDREPORTE AND 
R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA AND 
R.IDPUNTODEVENTA=P.IDPUNTODEVENTA
AND  RP.IDPRODUCTO=@IDPRODUCTO))
/* Filtro Marcas Competencia */
AND
(@IDMARCACOMPETENCIA IS NULL OR EXISTS  
(SELECT R.IDREPORTE FROM REPORTE R, REPORTEPRODUCTOCOMPETENCIA RP, PRODUCTO PRO, MARCA M
WHERE R.IDREPORTE = RP.IDREPORTE AND 
RP.IDPRODUCTO=PRO.IDPRODUCTO AND
PRO.IDMARCA = M.IDMARCA AND 
R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA AND 
R.IDPUNTODEVENTA=P.IDPUNTODEVENTA
AND  M.IDMARCA=@IDMARCACOMPETENCIA))
/* Filtro Productos Competencia*/
AND
(@IDPRODUCTOCOMPETENCIA IS NULL OR EXISTS  
(SELECT R.IDREPORTE FROM REPORTE R, REPORTEPRODUCTOCOMPETENCIA RP
WHERE R.IDREPORTE = RP.IDREPORTE AND 
R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA AND 
R.IDPUNTODEVENTA=P.IDPUNTODEVENTA
AND  RP.IDPRODUCTO=@IDPRODUCTOCOMPETENCIA))
/* Filtro Exhibiciones */
AND
(@IDEXHIBIDOR IS NULL OR EXISTS  
(SELECT R.IDREPORTE FROM REPORTE R, REPORTEEXHIBICION RE 
WHERE R.IDREPORTE = RE.IDREPORTE AND 
R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA AND 
R.IDPUNTODEVENTA=P.IDPUNTODEVENTA
AND  RE.IDEXHIBIDOR=@IDEXHIBIDOR))
/* Filtro Stock */
AND
(@STOCK IS NULL OR EXISTS  
(SELECT R.IDREPORTE FROM REPORTE R, REPORTEPRODUCTO RP
WHERE R.IDREPORTE = RP.IDREPORTE AND 
R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA AND 
R.IDPUNTODEVENTA=P.IDPUNTODEVENTA
AND  RP.STOCK=@STOCK))
/* Filtro Propiedades de Reporte */
AND
(@IDMARCAPROPIEDAD IS NULL OR EXISTS  
(SELECT R.IDREPORTE FROM REPORTE R, REPORTEMARCAPROPIEDAD RM 
WHERE R.IDREPORTE = RM.IDREPORTE AND 
R.FECHACREACION BETWEEN @FECHADESDE AND @FECHAHASTA AND 
R.IDPUNTODEVENTA=P.IDPUNTODEVENTA
AND  RM.IDMARCAPROPIEDAD=@IDMARCAPROPIEDAD))
/* Filtro Propiedades Punto de Venta */
AND
(@PROPIEDADPDV IS NULL OR EXISTS  
(SELECT PDV.IDPUNTODEVENTA FROM PUNTODEVENTA PDV, PROPIEDAD_PUNTODEVENTA PROP
WHERE PDV.IDPUNTODEVENTA=P.IDPUNTODEVENTA
AND PDV.IDPUNTODEVENTA = PROP.IDPUNTODEVENTA
AND PROP.IDPROPIEDAD=@PROPIEDADPDV))
/* Filtro Vendedor */
AND
(@IDVENDEDOR IS NULL OR EXISTS
(SELECT PDVV.IDVENDEDOR FROM PUNTODEVENTA_VENDEDOR PDVV 
WHERE PDVV.IDPUNTODEVENTA = P.IDPUNTODEVENTA
AND PDVV.IDVENDEDOR=@IDVENDEDOR))
END
GO
