SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RS_POP_PDV]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[RS_POP_PDV] AS' 
END
GO
ALTER PROCEDURE [dbo].[RS_POP_PDV] 	
	 @IdEmpresa int
	,@Dia varchar(max)=NULL
	,@Mes varchar(max)=NULL--(yyyymm)
	,@Ano varchar(max)=NULL
	,@Semana varchar(max)=NULL--(yyyyss)
	,@IdMarca varchar(max)=NULL
	,@IdProducto varchar(max)=NULL
	,@IdCadena varchar(max)=NULL
	,@IdPuntoDeVenta varchar(max)=NULL
	,@IdLocalidad varchar(max)=NULL
	,@IdZona varchar(max)=NULL
	,@IdUsuario varchar(max)=NULL

	
AS
BEGIN
	
	SET NOCOUNT ON;
	
	SELECT
		PDV.Nombre as NombrePDV
		,PDV.Direccion as Direccion
		,PDV.IdLocalidad as IdLocalidad
		,Z.Nombre as Zona
		,ISNULL(U.[Apellido],'') + ', ' + ISNULL(U.[Nombre],'') COLLATE DATABASE_DEFAULT as RTM
		,P.Nombre as NombrePop
		,SUM(RP.Cantidad) as Cantidad
	FROM dbo.Reporte R
	JOIN dbo.ReportePop RP on RP.IdReporte = R.IdReporte
	JOIN dbo.Pop P on P.IdPop = RP.IdPop
	JOIN dbo.Pop_Marca PM on PM.IdPop = P.IdPop
	JOIN dbo.PuntoDeVenta PDV on PDV.IdPuntoDeVenta = R.IdPuntoDeVenta
	JOIN dbo.Zona Z on Z.IdZona = PDV.IdZona
	JOIN dbo.Usuario U on U.IdUsuario = R.IdUsuario
	WHERE  R.IdEmpresa = @IdEmpresa
		and (@Ano IS NULL OR YEAR(R.FechaCreacion) IN (SELECT clave FROM dbo.fnSplitString(@Ano,','))) 
		and (@Mes IS NULL OR Convert(nchar(6),R.FechaCreacion,112) IN (SELECT clave FROM dbo.fnSplitString(@Mes,',')))
		--and (DAY(R.FechaCreacion) = @Dia OR @Dia is NULL)
		and (@Semana IS NULL OR Convert(char(6),(YEAR(R.FechaCreacion)*100) + DATEPART(WK,R.FechaCreacion)) IN (SELECT clave FROM dbo.fnSplitString(@Semana,',')))
		and (@IdMarca is NULL OR PM.IdMarca IN (SELECT clave FROM dbo.fnSplitString(@IdMarca,',')))
		--and (@IdProducto is NULL OR P.IdProducto IN (SELECT clave FROM dbo.fnSplitString(@IdProducto,',')))
		and (@IdCadena is NULL OR PDV.IdCadena IN (SELECT clave FROM dbo.fnSplitString(@IdCadena,',')))
		and (@IdPuntoDeVenta is NULL OR PDV.IdPuntoDeVenta IN (SELECT clave FROM dbo.fnSplitString(@IdPuntoDeVenta,',')))
		and (@IdLocalidad is NULL OR PDV.IdLocalidad IN (SELECT clave FROM dbo.fnSplitString(@IdLocalidad,',')))
		and (@IdZona is NULL OR PDV.IdZona IN (SELECT clave FROM dbo.fnSplitString(@IdZona,',')))
		and (@IdUsuario is NULL OR R.IdUsuario IN (SELECT clave FROM dbo.fnSplitString(@IdUsuario,',')))
	GROUP BY 
		PDV.Nombre 
		,PDV.Direccion 
		,PDV.IdLocalidad 
		,Z.Nombre 
		,ISNULL(U.[Apellido],'') + ', ' + ISNULL(U.[Nombre],'') COLLATE DATABASE_DEFAULT 
		,P.Nombre 


END
GO
