SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VM_VisitadorMedico_Update]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[VM_VisitadorMedico_Update] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[VM_VisitadorMedico_Update]
	-- Add the parameters for the stored procedure here
    @IdVisitadorMedico int
   ,@IdCliente int 
   ,@Apellido varchar(50)
   ,@Nombre varchar(50) = NULL
   ,@IdUsuario int = NULL
   ,@Activo bit
   
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[VM_VisitadorMedico]
	   SET [IdCliente] = @IdCliente
		  ,[Apellido] = @Apellido
		  ,[Nombre] = @Nombre
		  ,[IdUsuario] = @IdUsuario
		  ,[Activo] = @Activo
	 WHERE [IdVisitadorMedico] = @IdVisitadorMedico


END
GO
